body{
    background-color: azure;
}
.page{
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px 10px 5px darkgrey;
    font-family: Verdana;
}
h1{
    text-align: center;
    padding-top: 1em;
}
#submit{
    background-color: #1d8cfa;
    color: white;
    font-size: 1.5em;
    padding: .25em .5em;
}
label{
    margin-top: 50px;
    font-size: 1.5em;
    margin-left: 1em;
    margin-bottom: .5em;
}
input{
    font-size: 1.25em;
    margin-left: 1em;
    margin-bottom: 50px;
}
.most-width{
    width:90%;
}